html,body {
    overflow-x: hidden;
    overflow-y: hidden;
    color:black;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:101%;
    margin: 0px;
    padding: 0px;
}

.Contenido {
    width: 100%;
    height: 109px;
    display: flex;
    flex-direction: column;
    left: 0px; 
    top: 0px;
    position: absolute;  
    background: #EC1831
}

.Realty-mapa {
    height: 73.7%;
    width: 60%;
    position: relative;
    top: 109px;
    padding: 0;
    margin: 0;
    flex: auto;
}

.Filtros {
    width: 100%; 
    height: auto; 
    left: 0px; 
    top: 0px; 
    flex-direction: column;
}
  
.Realty-logo {
    width: 80px; 
    height: 75px; 
    left: 78px; 
    top: 20px; 
    position: absolute;
}
  
.Realty {
    width: 273px; 
    left: 172px; 
    top: 30px; 
    position: absolute; 
    color: white; 
    font-size: 25px; 
    font-family: Lastica; 
    font-weight: 600; 
    letter-spacing: 4.12px; 
    word-wrap: break-word;
}
  
.Bienes-raíces {
    width: 442px; 
    left: 172px; 
    top: 60px; 
    position: absolute; 
    color: white; 
    font-size: 20.10px; 
    font-family: Lato;
    font-weight: 400; 
    letter-spacing: 1.10px;
    height: 50px;
    word-wrap: break-word; 
}
  
.Botón-borrar {
    width: 90px; 
    height: 40px; 
    left: 490px; 
    top: 40px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px;
    border-color: #F41922 solid;
}
  
.Borrar {
    width: 77px; 
    left: 500px; 
    top: 50px; 
    position: absolute; 
    color: #F41922; 
    font-size: 15px; 
    font-family: FONTSPRING DEMO - TT Commons Pro DemiBold; 
    font-weight: 600; 
    line-height: 22.14px; 
    letter-spacing: 0.99px; 
    word-wrap: break-word;
}
  
.Botón-filtro {
    width: 90px; 
    height: 40px; 
    left: 600px; 
    top: 40px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px;
    border-color: #F41922 solid;
}

.Filtro {
    width: 77px; 
    left: 615px; 
    top: 50px; 
    position: absolute; 
    color: #F41922; 
    font-size: 15px; 
    font-family: FONTSPRING DEMO - TT Commons Pro DemiBold; 
    font-weight: 600; 
    line-height: 22.14px; 
    letter-spacing: 0.99px; 
    word-wrap: break-word;
}

.Botón-buscar-encabezado {
    width: 100px; 
    height: 40px; 
    left: 710px; 
    top: 38px; 
    position: absolute; 
    background: #F41922; 
    border-radius: 30px; 
    border: 3px white solid;
}

.Buscar-encabezado {
    width: 77px; 
    left: 725px; 
    top: 50px; 
    position: absolute; 
    color: white; 
    font-size: 15px; 
    font-family: FONTSPRING DEMO - TT Commons Pro DemiBold; 
    font-weight: 600; 
    line-height: 22.14px; 
    letter-spacing: 0.99px; 
    word-wrap: break-word;
    text-align: center;
}

.Botón-ubicación {
    width: 490px; 
    height: 40px; 
    left: 838px; 
    top: 40px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px;
    border-color: #F41922 solid;
}

.Ubicación {
    width: 154px; 
    left: 850px; 
    top: 50px; 
    position: absolute; 
    color: #A7ADAF; 
    font-size: 15px; 
    font-family: FONTSPRING DEMO - TT Commons Pro DemiBold; 
    font-weight: 400; 
    line-height: 22.14px; 
    letter-spacing: 0.99px; 
    word-wrap: break-word;
}

.Botón-menú {
    width: 99px; 
    height: 40px; 
    left: 1395px; 
    top: 40px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px;
    border-color: #F41922 solid;
}

.Menú {
    width: 77px; 
    left: 1422px; 
    top: 50px; 
    position: absolute; 
    color: #F41922; 
    font-size: 15px; 
    font-family: FONTSPRING DEMO - TT Commons Pro DemiBold; 
    font-weight: 600; 
    line-height: 22.14px; 
    letter-spacing: 0.99px; 
    word-wrap: break-word;
}

.Botón-tipo-de-inmueble {
    width: 465px; 
    height: 45px; 
    left: 995px; 
    top: 195px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px #F41922 solid;
}

.Tipo-de-inmueble {
    width: 299px; 
    left: 1109px; 
    top: 204px; 
    position: absolute; 
    color: #A7ADAF; 
    font-size: 20px; 
    font-family: FONTSPRING DEMO - TT Commons Pro Exp ExtraBold; 
    font-weight: 800; 
    line-height: 30.75px; 
    letter-spacing: 1.38px; 
    word-wrap: break-word;
}

.Botón-precio {
    width: 465px; 
    height: 45px; 
    left: 995px; 
    top: 266px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px #F41922 solid;
}

.Precio {
    width: 129px; 
    left: 1178px; 
    top: 275px; 
    position: absolute; 
    color: #A7ADAF; 
    font-size: 20px; 
    font-family: FONTSPRING DEMO - TT Commons Pro Exp ExtraBold; 
    font-weight: 800; 
    line-height: 30.75px; 
    letter-spacing: 1.38px; 
    word-wrap: break-word;
}

.Botón-tamaño {
    width: 465px; 
    height: 45px; 
    left: 995px; 
    top: 337px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px #F41922 solid;
}

.Tamaño {
    width: 145px; 
    left: 1170px; 
    top: 346px; 
    position: absolute; 
    color: #A7ADAF; 
    font-size: 20px; 
    font-family: FONTSPRING DEMO - TT Commons Pro Exp ExtraBold; 
    font-weight: 800; 
    line-height: 30.75px; 
    letter-spacing: 1.38px; 
    word-wrap: break-word;
}

.Botón-más-filtros {
    width: 465px; 
    height: 45px; 
    left: 995px; 
    top: 408px; 
    position: absolute; 
    background: white; 
    border-radius: 30px; 
    border: 3px #F41922 solid;
}

.Más-filtros {
    width: 214px; 
    left: 1145px; 
    top: 418px; 
    position: absolute; 
    color: #A7ADAF; 
    font-size: 20px; 
    font-family: FONTSPRING DEMO - TT Commons Pro Exp ExtraBold; 
    font-weight: 800; 
    line-height: 30.75px; 
    letter-spacing: 1.38px; 
    word-wrap: break-word;
}

.Botón-buscar {
    width: 253px; 
    height: 50px; 
    left: 1098px; 
    top: 490px; 
    position: absolute; 
    background: #EC1831; 
    border-radius: 30px; 
    border: 3px #EC1831 solid;
}

.Buscar {
    width: 130px; 
    left: 1180px; 
    top: 502px; 
    position: absolute; 
    color: white; 
    font-size: 20px; 
    font-family: FONTSPRING DEMO - TT Commons Pro Exp ExtraBold; 
    font-weight: 800; 
    line-height: 30.75px; 
    letter-spacing: 1.38px; 
    word-wrap: break-word;
}

.Background {
    width: 400px; 
    height: 160px; 
    left: 1138px; 
    top: 610px; 
    position: absolute;
}
